.App {
  text-align: center;
}

.Container {
  max-height: 100vh;
  max-width: 70%;
  min-width: 70%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  border-radius: 0px 8px 0px 0px;
  background: white;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background: lightgray;
  border: 3px solid white;
  border-radius: 10px;
}