.Input {
  background-color: white;
  border-radius: 10px 0 0 10px;
  border: none;
  width: 100%;
  padding-left: 8px;
  font-size: 16px;
}

.Input:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}

::placeholder {
  color: rgb(184, 184, 184);
}